
@mixin button($color, $color-hover, $color-active, $bg, $bg-hover, $bg-active) {
  display: inline-flex;
  align-items: center;
  padding: 8px 12px;
  height: 44px;
  color: $color;
  background: $bg;
  border: 1px solid $main_color;
  border-radius: 8px;
  transition: all .4s cubic-bezier(.165,.84,.44,1);
  cursor: pointer;

  &:hover:not(:disabled) {
    color: $color-hover;
    background: $bg-hover;
  }

  &:active:not(:disabled) {
    color: $color-active;
    background: $bg-active;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.hollowButton {
  @include button($c_dark ,$c_white ,$c_white ,$c_white ,$main_color ,$main_color);
}
.solidButton {
  @include button($c_white ,$c_dark ,$c_dark ,$main_color ,$c_white ,$c_white);
}

